.login {
  &__header {
    @media screen and (min-width: 992px) {
      padding: 24px 80px;
    }
    padding: 16px 12px;
  }
  &__logo {
    width: 110px;
    @media screen and (min-width: 992px) {
      width: 196px;
    }
  }
  &__line3 {
    margin-top: 72px;
  }
  &__line2 {
    margin-top: 32px;
  }
  &__form {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
